@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --muted: #666666;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-satoshi);
  --font-exposure: var(--font-exposure);
  --color-muted: var(--muted);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --muted: #999999;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-satoshi), sans-serif;
}
