@import "tailwindcss";

:root {
  --background: #F5F5F5;
  --foreground: #0A0A0A;
  --muted: #525252;
  --primary: #F97316;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-satoshi);
  --font-exposure: var(--font-exposure);
  --color-muted: var(--muted);
  --color-primary: var(--primary);
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --muted: #999999;
  --primary: #F97316;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-satoshi), sans-serif;
}
